* {
    margin: 0;
    width: auto;
}

body {
    background: hsl(0, 0%, 100%);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container .description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section .card{
    border: 1px solid ;
    display: block;
    padding: 30px;
    width: 350px;
}

img {
    left: 270px;
    position: relative;
    top: 50px;
}

.container .cards {
    display: grid;
    grid-template:
        "card-team-builder" 250px
        "card-supervisor" 250px
        "card-calculator" 250px;
}


.cards .card {
    margin: 5px;
}

.cards .card.card-supervisor {
    box-shadow: 0 -5px 0 0 hsl(0, 78%, 62%);
}

.card.card-team-builder {
    box-shadow: 0 -5px 0 0 hsl(180, 62%, 55%);
}
.card.card-calculator {
    box-shadow: 0 -5px 0 0 hsl(212, 86%, 64%);
}

.card.card-karmar {
    box-shadow: 0 -5px 0 0 hsl(34, 97%, 64%);
}
.card-supervisor , .card-calculator {
    grid-row: span;
}

.card.row-cards {
    display: grid;
    justify-content: space-evenly;
    justify-items: start;
}

.card.column-cards {
    display: grid;
    /* grid-auto-columns: 115px; */
    grid-auto-flow: row;
    margin: 15px;
    /* grid-auto-rows: 252px; */
}