* {
    margin: 0;
    width: auto;
    font-family: "Montserrat", "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image .img-mobile {
    display: none;
}
.image {
}
.image .img-desktop {
    width: 250px;
    height: 373px;
}

.container .parfum-card {
    padding: 0 15px;
    margin: 0 15px;
}

p {
    margin: 0 15px 15px 0;
}

h1  {
    width: 210px;
    margin-bottom: 15px;
    font-weight: 500;
}

.price-line {
    display: flex;
    flex-direction: row;
}

.description p {
}

.price-line .discount-price{
    color:  hsl(158, 42%, 18%);
    font-weight: bolder;
    font-size: 25px;
}

.price-line .real-price , .description p, p{
    color: #6e6e6e;
}
.price-line .real-price{
    text-decoration: line-through;
    padding: 5px;
}
.description {
    width: 270px;
}

button {
    background:  hsl(158, 36%, 37%);
    color:  hsl(0, 0%, 100%);
    width: 235px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.btn-icon{
    margin-right: 10px;
}

button:hover {
    background:  hsl(158, 42%, 18%);
}

@media (max-width: 375px) {

    body {
        background: red;
    }
    .image .img-desktop {
        display: none;
    }

    .container .parfum-card {
        margin: 15px;
    }

    .image .img-mobile {
        display: block;
        height: 270px;
        width: 300px;
    }

}