* {
    margin: 0;
    padding: 0;
    width: auto;
}

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    background: #D5E1EF;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.card-txt {
    background: white;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    height: 550px;
}

img {
    width: 330px;
    height: 350px;
    border-radius: 30px;
}

.text {
    margin: 15px 10px;
}

p {
    text-align: center;
    padding: 10px;
}
h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 10px;
}
.text-2{
    color: gray;
    font-size: 19px;
}

@media (max-width: 400px) {
  .main {
    padding: 1rem;
  }
}