*{
    margin: 0;
    padding: 0;
    width: auto;
}

body {
    background: #F4D04E;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   /* width: 350px;
    height: auto;*/
}

.content {
    background: #FFFF;
    width: 340px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}